<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-2 form-group">
                    <label for="courseName">Form</label>
                    <input type="text" id="courseName" class="form-control" formControlName="Brand">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="courseDesc">Course Description</label>
                    <input type="text" id="courseDesc" class="form-control" formControlName="Size">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="courseAmount">Course Amount</label>
                    <input type="number" id="courseAmount" class="form-control" formControlName="Phone">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="courseAmount">Extra Dimensions</label>
                    <input type="number" id="dimensions" class="form-control" formControlName="Extra Dimensions">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="courseAmount">Color</label>
                    <input type="number" id="courseAmount" class="form-control" formControlName="Color">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="courseAmount">Material</label>
                    <input type="number" id="courseAmount" class="form-control" formControlName="Material">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Search</button>
                    <button class="btn btn-danger" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>