
<div class="uk-flex uk-flex-center">
    <div class=".uk-align-center">
        ♡ Welcome to Purse Selector ♡
    </div>
</div>


<div class="row">
    <div class ="uk-flex uk-flex-center">
        <form class="uk-form-width-large" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div>
                Brand
                <hr>
                    <form>
                        <div class="uk-grid-small uk-child-width-1-3" uk-grid>
                            <div *ngFor="let brand of brandList">
                        
                                <label><input class="uk-checkbox" type="checkbox" id="courseName" class="form-control"
                                        formControlName="Brand">{{brand}}</label>
                            </div>

                        </div>
                    </form>

                <hr>
            </div>
            
            <div>
                Phone
                <hr>
                <div class="uk-margin">
                    <form>
                        <select class="uk-select">
                            <option *ngFor="let phone of phoneList">{{phone}}
                            </option>
                        </select>
                    </form>
                </div>
            
                <div class="uk-text-center uk-margin">OR</div>
                <form>
                    <div class="uk-grid-small uk-child-width-1-3" uk-grid>
                        <div *ngFor="let text of phoneTextList">
                
                            <label>{{text}}<input class="uk-input" type="number" id="courseName" class="form-control"
                                    formControlName="Brand"></label>
                        </div>
                
                    </div>
                </form>
                <hr>
            </div>

            <div>
                Size
                <hr>
                    <form class="uk-grid-small uk-child-width-1-5" uk-grid>
                        <label *ngFor="let size of sizeList">
                            <label><input class="uk-checkbox" type="checkbox" id="courseName" class="form-control"
                                    formControlName="Brand">{{size}}</label>
                        </label>
                    </form>
                <hr>
            </div>



            <div>
                Color
                <hr>
                <form class="uk-grid-small uk-child-width-1-5" uk-grid>
                    <label *ngFor="let color of colorList">
                            <label><input class="uk-checkbox" type="checkbox" id="color" class="form-control"
                                    formControlName="Brand">{{color}}</label>
                    </label>
                </form>
                <hr>
            </div>

            <div>
                Miscellaneous
                <hr>
                <form class="uk-grid-small" uk-grid>
                    <label *ngFor="let feature of featureList">
                        <div class="uk-width-1-1">
                            <label><input class="uk-checkbox" type="checkbox" id="color" class="form-control"
                                    formControlName="Brand">{{feature}}</label>
                        </div>
                    </label>
                </form>
                <hr>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <button class="uk-button uk-button-default uk-align-left" type="button" (click)="onClear()">Clear</button>
                    <button class="uk-button uk-button-default uk-align-right" type="submit">Search</button>

                </div>
            </div>
        </form>

    </div>
</div>